// Tabs 组件样式
.tabs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs-nav {
  margin-bottom: 0;
}

.tabs-content-holder {
  flex-grow: 1;
  .tabs-content, .tabs-tabpane {
    height: 100%;
    overflow: auto;
  }
}

.tabs-tab {
  font-size: var(--font-size-base);
  font-weight: 500;
}

.tabs-tab-active .tabs-tab-btn {
  color: var(--primary);
  font-weight: 600;
}

.tabs-ink-bar {
  background: var(--primary);
}

// Ant Design Tabs 样式覆盖
.ant-tabs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ant-tabs-nav {
  margin-bottom: 0;
}

.ant-tabs-content-holder {
  flex-grow: 1;
  padding-bottom: 20px;
  .ant-tabs-content, .ant-tabs-tabpane {
    height: 100%;
    overflow: auto;
  }
}

.ant-tabs-tab {
  font-size: var(--font-size-base);
  font-weight: 500;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--primary);
  font-weight: 600;
}

.ant-tabs-ink-bar {
  background: var(--primary);
}
